# Node.js dependencies and Yarn files
node_modules/
yarn.lock
package-lock.json

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/public/
/build/

# OS and IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Miscellaneous
*.log
*.cache
*.tmp